.container{

    max-width: 800px;
    
    .card1{
        display: flex;
        align-items: center;

        .image{
            img{
                width: 78px;
                height:70px;
            };
        }
        .chat-content{
            width: 260px;
            color: #76838f;
            background-color: #dfe9ef;
           padding: 15px;
           border-radius: 20px;
           box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            
        }
    }

    .card1-left{
        display: flex;
        align-items: center;
        justify-content: right;

        .image{
            img{
                width: 78px;
                height:70px;
            };
        }
        .chat-content{
            width: 260px;
            color: #fff;
            background-color: #62a8ea;
           padding: 15px;
           border-radius: 20px;
           box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            
        }
    }

    form{
        margin-top: 60px;
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-top: 1px solid rgb(184, 184, 184);
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 20px;

    .title2{
        display: flex;
        align-items: center;
        .t1{
            padding: 10px;
            margin-right: 15px;
            
        }
        .slash{
            margin-right: 15px;
        }
        .t2{
            margin-right: 10px;
        }
    }

}